@inherits Umbraco.Web.Mvc.UmbracoViewPage<Our.Umbraco.TableGenerator.Demo.Models.Page>

@{
	Layout = "_Layout.cshtml";
}

<div class="container">

	<section>
		@Html.Partial("_Table", Model.Table)
	</section>

	<section>
		@Html.Partial("_Json", Model.Table)
	</section>

</div>