<div class="table-editor" ng-controller="Our.Umbraco.Tables.BackOffice.Editor.Controller as vm">

	<div class="umb-scrollable row-fluid">

		<div class="editor">

			<div class="toolbar">

				<div class="toolbar__buttons is-fullwidth">

					<a class="buttons__button btn" ng-click="addRow()">
						<i class="icon icon-add"></i>Add Row
					</a>

					<a class="buttons__button btn" ng-click="addColumn()">
						<i class="icon icon-add"></i>Add Column
					</a>

				</div>

				<div class="toolbar__buttons">

					<a class="buttons__button btn" ng-click="editTableSettings()">
						<i class="icon icon-settings"></i>
					</a>

				</div>

			</div>

			<div class="table">

				<!--Column controls-->
				<div class="controls">

					<div class="controls__control" ng-repeat="column in vm.table.columns">

						<a class="control__button btn">
							<i class="icon icon-trash" ng-click="removeColumn($index)"></i>
						</a>

						<a class="control__button btn" ng-if="showRowAndColumnSettings()">
							<i class="icon icon-settings" ng-click="editColumnSettings(column)"></i>
						</a>

					</div>

					<div class="controls__control no-opacity">

						<a class="control__button btn">
							<i class="icon icon-navigation"></i>
						</a>

						<a class="control__button btn">
							<i class="icon icon-trash"></i>
						</a>

						<a class="control__button btn" ng-if="showRowAndColumnSettings()">
							<i class="icon icon-settings"></i>
						</a>

					</div>

				</div>

				<div ui-sortable="sortableOptions" ng-model="vm.table.cells" class="table-element" ng-class="getTableClass()">

					<div class="table__row--wrapper" ng-repeat="row in vm.table.cells; track by $index">

						<div class="table__row" ng-class="getRowClass($index)">

							<div class="table__column" ng-class="getColumnClass(cell)" ng-repeat="cell in row; track by $index" ng-click="editCell(cell)">

								<div class="table__column--placeholder" ng-if="cell.value.length === 0">

									<div>
										<p>
											Click to add content
										</p>
									</div>

								</div>

								<div class="table__column--content"
									 ng-if="cell.value.length > 0"
									 ng-bind-html="cell.value">
								</div>

							</div>

						</div>

						<div class="buttons">

							<a class="control__button btn ui-sortable-handle" title="Move" ng-click="$event.stopPropagation();">
								<i class="icon icon-navigation"></i>
							</a>

							<a class="control__button btn">
								<i class="icon icon-trash" ng-click="removeRow($index)"></i>
							</a>

							<a class="control__button btn" ng-if="showRowAndColumnSettings()">
								<i class="icon icon-settings" ng-click="editRowSettings(row)"></i>
							</a>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<umb-overlay ng-if="vm.richTextEditor.show"
				 model="vm.richTextEditor"
				 position="right"
				 view="vm.richTextEditor.view">
	</umb-overlay>

	<umb-overlay ng-if="vm.settingsEditor.show"
				 model="vm.settingsEditor"
				 position="right"
				 view="vm.settingsEditor.view">
	</umb-overlay>

	<umb-overlay ng-if="vm.tableSettingsEditor.show"
				 model="vm.tableSettingsEditor"
				 position="right"
				 view="vm.tableSettingsEditor.view">
	</umb-overlay>

</div>