@using Newtonsoft.Json
@model Our.Umbraco.Tables.Models.TableData

<h2>
	Serialized JSON output
</h2>

<hr/>

<div class="p-3 mb-2 bg-light text-dark border">
	<pre>@JsonConvert.SerializeObject(Model, Formatting.Indented)</pre>
</div>